= form_for @task do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :description
    = f.text_area :description

  .field
    = f.label :due_date
    = f.date_field :due_date

  .field
    = f.label :status
    = f.select :status, options_for_select(Task.statuses.values, @task.status)

  .field
    = f.label :assigned_to, "Assigned to"
    = f.collection_select :assigned_to_id, User.all, :id, :email, prompt: true

  .actions
    = f.submit submit_text
