= form_with(model: task, local: true) do |form|
  - if task.errors.any?
    #error_explanation.alert.alert-danger
      %h4= pluralize(task.errors.count, "error") + " prohibited this task from being saved:"
      %ul
        - task.errors.full_messages.each do |message|
          %li= message

  .form-group
    = form.label :title
    = form.text_field :title, class: "form-control"

  .form-group
    = form.label :description
    = form.text_area :description, class: "form-control"

  .form-group
    = form.label :due_date
    = form.date_field :due_date, class: "form-control"

  .form-group
    = form.label :status
    = form.select :status, options_for_select(Task.statuses.keys.map { |status| [status.humanize, status] }, task.status), {}, class: "form-control"

  .form-group
    = form.label :assigned_to, "Assigned to"
    = form.collection_select :assigned_to_id, User.all, :id, :email, { prompt: true }, class: "form-control"

  = form.submit class: "btn btn-primary"
  = link_to 'Back', tasks_path, class: "btn btn-secondary"
