%h1 Task: #{@task.title}

%table.table.table-bordered
  %tr
    %th Title
    %td= @task.title
  %tr
    %th Description
    %td= @task.description
  %tr
    %th Due Date
    %td= @task.due_date
  %tr
    %th Status
    %td= @task.status.humanize
  %tr
    %th Assigned To
    %td= @task.assigned_to ? @task.assigned_to.email : "Unassigned"
  %tr
    %th Assigned By
    %td= @task.assigned_by ? @task.assigned_by.email : "N/A"
  %tr
    %th Created By
    %td= @task.created_by ? @task.created_by.email : "N/A"

= link_to 'Edit', edit_task_path(@task), class: "btn btn-warning"
= link_to 'Back', tasks_path, class: "btn btn-secondary"
